* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradiente: linear-gradient(to right, #0f2965, #961556);
}
html {
  height: 100vh;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}
body {
  background: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.container {
  background: rgba(255, 255, 255, 0.1); /* transparência */
  backdrop-filter: blur(10px); /* desfoque do fundo */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 20px;
  margin: 50px auto;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}
.profile-picture {
  width: 150px;
  border-radius: 50%;
  background: var(--gradiente);
}
.user-name {
  font-weight: 600;
  font-size: 2em;
  margin: 16px 0;
}
.description {
  font-size: 1em;
  color: darkgrey;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: 1.2em;
}
.list-item {
  font-size: 1.2em;
  height: 3em;
  border-radius: 1em;
  background: var(--gradiente);
  display: flex;
}
.link {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  flex-grow: 1;
}
.li-icon {
  width: 1.6em;
  filter: brightness(0) invert(1);
}
footer {
  padding: 0 20px;
  display: flex;
  gap: 1em;
}
.contact {
  width: 2.2em;
  height: 2.2em;
  background: var(--gradiente);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-contact {
  filter: brightness(0) invert(1);
  width: 1.4em;
}

@media screen and (max-width: 815px) {
  html {
    font-size: 10px;
  }
  .profile-picture {
    width: 8em;
  }
}
